<div class="footer">
  <div class="row d-flex  ">
    <div class="col  text-center">
      <p class="footer-text-title" > Atendimento</p>
      <span class="footer-text-subtitle">
        <p style="margin:0px;">
          <a href="" >
            Central de Ajuda
      </a>
        </p>
         <p style="margin:0px;">
           <a href="" >
          denunciar
       </a>
         </p>
         <p style="margin:0px;">
          <a href="">
            Duvidas
      </a>
        </p>
        <p style="margin:0px;">
          <a href="">
            Cancelar reservas
      </a>
        </p>
      </span>
    </div>
    <div class="col  text-center">
      <p class="footer-text-title"> Hospedagem</p>
      <span class="footer-text-subtitle">
        <p style="margin:0px;">
          <a href="" >
            Experimente hospedar
      </a>
        </p>
         <p style="margin:0px;">
           <a href="" >
            Seus Direitos
       </a>
         </p>
         <p style="margin:0px;">
          <a href="">
            Duvidas
      </a>
        </p>
        <p style="margin:0px;">
          <a href="">
            Visite o fórum da comunidade
      </a>
        </p>
      </span>
    </div>
    <div class="col  text-center">
      <p class="footer-text-title"> Sobre</p>
      <span class="footer-text-subtitle">
        <p style="margin:0px;">
          <a href="" >
            Quem somos?
      </a>
        </p>
         <p style="margin:0px;">
           <a href="" >
            Equipe
       </a>
         </p>
         <p style="margin:0px;">
          <a href="">
            Investir
      </a>
        </p>
      </span>
    </div>
  </div>
</div>

  <div>
    <div class="footer-end">
     <div class="row">
       <div class="col text-start">
         <p>
           <a href="">
            @2022 Immobile
           </a>
           <a href="">
            - Termos
           </a>
           <a href="">
            - Informações
           </a>
           <a href="">
             juridicas
          </a>
         </p>


       </div>
       <div class="col text-end footer-end-right">
         R$ usd
         <img src="assets/home/footer/facebook.svg" alt="">
         <img src="assets/home/footer/instagram.svg" alt="">
         <img src="assets/home/footer/meta.svg" alt="">
       </div>
     </div>
    </div>
  </div>
