.footer{
  padding-top: 100px;
  padding-bottom: 24px;
}

.footer-text-title{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    opacity: .8 ;
}

.footer-text-subtitle a{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 26px;
  cursor: pointer;
  color: #fff;
  opacity: .6;
  margin: 0px !important;
  padding: 0px !important;
  text-decoration: none;
}

.footer-text-subtitle a:hover ,.footer-text-title:hover{
  opacity: 1 !important;
  text-decoration: underline;
}

/* Footer final */

.footer-end-right img{
  padding: 0px 2px 0px 10px;
}

.footer-end {
  border-top: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;

}

.footer-end a ,.footer-end{
  font-size: 14px !important;
  line-height: 18px !important;
  color: white;
  text-decoration: none;
}
