/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background-color: #ff0043;
  border-radius: 30px;
}
