
.option-title{
  font-size: 33px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 37px;
  color: #fff;
  text-align: center;
}

/* OPTION */

.option-img img{
  height: 208.5px;
  width: 400px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
cursor: pointer;
}

.option-img{
  text-align: center;
}

.option-img-title{
  background-color: white;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  cursor: pointer;

  /* Fonte */

    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 26px;
}
