<div class="option-title" style="padding-top: 24px;">
  <p>More em lugares mágicos</p>
</div>

<div class="row" >

  <div class="col option-img justify-content-center d-flex" >
    <div>
      <img src="https://img.freepik.com/fotos-gratis/mosteiro-de-tatev-e-montanha-na-armenia_218381-815.jpg" >
      <p class="option-img-title"> Mosteiro de tatev
        <br>Armênia</p>
    </div>
  </div>

  <div class="col option-img justify-content-center d-flex" >
    <div>
      <img src="assets/home/options/CasteloPeles.jpg" >
      <p class="option-img-title"> Castelo de Peles
        <br>Romênia</p>
    </div>
  </div>
  <div class="col option-img justify-content-center d-flex" >
    <div>
      <img src="assets/home/options/islandiaOption.webp" >
      <p class="option-img-title"> Cachoeira do campo
        <br>Islândia</p>
    </div>
  </div>
</div>
