<div class="row pt-5  ">
  <div class=" col anfitriao-img d-flex justify-content-center ">
    <img src="assets/home/anfitriao/anfitriao.jpg" class="w-50 h-100">
    <div class="anfitriao-text w-50 h-100 d-flex ">


      <div class=" d-flex flex-column align-items-center  justify-content-center w-100">
       <div class="d-block mb-4 mt-4"> <span >Marque a vida das pessoas</span> </div>
      <button type="button"  class="btn btn-outline-light  ">Saiba mais</button>
      </div>

    </div>

  </div>
</div>
