.anfitriao-text{
  background-color: rgb(255, 56, 92);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  /* fonte */
  font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 26px;
    text-align: center;
    color: #fff;
}

.anfitriao-img img {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
