.header-logo-text ,.header-principal-text ,.header-user-text ,.header-user-img{
  color: #fff;
  opacity: .6 ;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none !important;
}

.header-logo-text:hover,  .header-user-text:hover , .header-user-img:hover , .header-principal-text:hover{
  opacity: 1 !important;
}

  /* PRINCIPAL */
  .header-principal{
    text-align: center;
  }

  .header-principal-sublinhado{
    border: none;
  }

  .header-principal-sublinhado:hover{
    border-bottom: 2px white solid;
    opacity: 1 !important;
  }
    .header-principal-text{
      font-size: 11px;
       color: #b3b3b3;
      text-transform: uppercase;
      letter-spacing: .16em;
      padding-right: 20px;

    }



    /* USER */

    .header-user{
      text-align: end;
    }

    .header-user-text{
      padding-right: 10px;
    }
