<div class="">
  <div class="row" style="padding: 24px;">
    <div class="col header-logo">
      <a href="#" class="header-logo-text">
        <img src="assets/logo.svg" style="width: 40px; height: 40px; padding-bottom: 12px  ;">
        Immobile
      </a>

    </div>
    <div class="col header-principal ">
      <a href="" class="header-principal-text">
      <span class="header-principal-sublinhado">Depoimentos</span>
      </a>
      <a href=" " class="header-principal-text">
      <span class="header-principal-sublinhado">Imovéis</span>
      </a>
      <a href="" class="header-principal-text">
       <span class="header-principal-sublinhado">Experimente</span>
      </a>

    </div>
    <div class="col header-user  ">
      <a href="" class="header-user-text" >
        Seja um locador
      </a>
      <a href="" >
        <span class="header-user-img "><img src="assets/user.svg" alt=""></span>
      </a>
    </div>
  </div>

</div>
