

.destaque-text{
  font-size: 25px;
    letter-spacing:-0.02em;
    font-weight:600;
    color: white;
    line-height:28px;
   text-decoration: none !important;
   margin-top: 0px;
}

@keyframes border-bottom{
  to {
    margin-top: -1px !important;
    border-bottom: 1px solid white;

  }
}
.destaque-img{
  padding: 25px;
}

.destaque-text:hover{
  animation: border-bottom 1s infinite;
}







