<div>
  <div class="destaque row" >
    
      <div class="col-sm-6 col-xxl-8 col-xl-8">
         <div class="destaque-img ">
      <img src="https://p4.wallpaperbetter.com/wallpaper/717/926/370/5c1cb5d7f099d-wallpaper-preview.jpg" class="img-fluid"  style="border-radius: 10px; height:410px !important;width: 728px !important;">
     
      
    </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-sm-6 d-flex justify-content-center p-0 m-0">
        <span class=" d-flex justify-content-center align-items-center  ">
        <a href="" class="destaque-text">Qualquer lugar em um clique</a>

      </span>
      </div>
   
  </div>
</div>
